<br>
<div class="about container">
  <div class="about-text">

    <h3>About <strong><i>Safiri254</i></strong></h3>
    <!-- <div class="container about-text"> -->
      <p>We are all about helping users connect to transportation
        at the convinience of their devices in the easiest and most convinient way possible.
      </p>
      <h3>How it works</h3>
      <p>
        <h4>Driver</h4>
         Drivers connect to user requests and bid for<strong><i> jobs </i></strong> allowing them
         access to the list of available jobs at the exact moment in time they are loged in.
      </p>
      <p>
        <h4>Users</h4>
         Users post jobs on our network while we broadcast them to the drivers for acceptance or rejection.
       </p>
    <!-- </div> -->
  </div>
</div>
<br>
{{outlet}}

{{outlet}}
